In [2]:
import numpy as np
import pandas as pd

In [3]:
data = {
    'Stream': ['false', 'true', 'true', 'false', 'false', 'true', 'true'],
    'Slope': ['steep', 'moderate', 'steep', 'steep', 'flat', 'steep', 'steep'],
    'Elevation': ['high', 'low', 'medium', 'medium', 'high', 'highest', 'high'],
    'Vegetation': ['chapparal', 'riparian', 'riparian', 'chapparal', 'conifer', 'conifer', 'chapparal']
}

df = pd.DataFrame(data)

In [4]:
X, y = df.iloc[:, :-1], df.iloc[:, -1]
X['Stream']

0    false
1     true
2     true
3    false
4    false
5     true
6     true
Name: Stream, dtype: object

In [5]:
data = {
    "Elevation": [300, 1200, 1500, 3000, 3900, 4450, 5000],
    'Vegetation': ['riparian', 'chapparal', 'riparian', 'chapparal', 'chapparal', 'conifer', 'conifer']
}

df = pd.DataFrame(data)

d = "Elevation"
df.sort_values(by=[d])
print(df)
p, q = df.iloc[:, :-1], df.iloc[:, -1]

df[d] = pd.qcut(df[d], np.arange(0, 1, 0.25))
df
# def entropy(X, y):
#     """Measures the amount of uncertainty/impurity/heterogeneity in (X, y)"""
#     proba = lambda t: len(X.loc[y==t]) / len(X)
#     return -sum([proba(t) * np.log2(proba(t)) for t in y.unique()])

# def rem(X, y, d):
#     weight = lambda t: len(X.loc[X[d]==t]) / len(X)
#     return sum([weight(t) * entropy(X.loc[X[d]==t], y.loc[X[d]==t]) for t in X[d].unique()])

# def information_gain(X, y, d):
#     print(f"{d} = {entropy(X, y):.3f} - {rem(X, y, d):.3f} = {entropy(X, y) - rem(X, y, d):.3f}") 
#     return entropy(X, y) - rem(X, y, d)

# thresholds = []
# prev_target = q.values[0]
# for i, target in enumerate(q.values):
#     if target != prev_target:
#         thresholds.append(np.average([p[d].iloc[i], p[d].iloc[i-1]]))
#     prev_target = target

# print(thresholds)

# gains = []
# for t in thresholds:
#     x = p.copy()
#     binned_feature = pd.cut(x[d], bins=[0, t, x[d].max()], labels=['a', 'b'])
#     x[d] = binned_feature.values
#     gains.append(information_gain(x, q, d))

# print(gains)

# best_split = thresholds[np.argmax(gains)]
# binned_feature = pd.cut(p[d], bins=[0, best_split, p[d].max()], labels=['a', 'b'])
# p[d] = binned_feature.values

   Elevation Vegetation
0        300   riparian
1       1200  chapparal
2       1500   riparian
3       3000  chapparal
4       3900  chapparal
5       4450    conifer
6       5000    conifer

           Elevation Vegetation
0  (299.999, 1350.0]   riparian
1  (299.999, 1350.0]  chapparal
2   (1350.0, 3000.0]   riparian
3   (1350.0, 3000.0]  chapparal
4   (3000.0, 4175.0]  chapparal
5                NaN    conifer
6                NaN    conifer

In [ ]:
{k: X[k].unique() for k in X.columns}

{'Elevation': array([ 300, 1200, 1500, 3000, 3900, 4450, 5000])}

In [ ]:
# Base Case 1
a = y.loc[X['Elevation']=='low']
len(a.unique()) == 1

False

In [ ]:
# Base Case 2
data = {
    'A':[0,0],
    'B':[1,1]
}

a = pd.DataFrame(data)
print(a)

print(all((a[d] == a[d].iloc[0]).all() for d in a.columns))

data = {
    'A':[0,1],
    'B':[0,1]
}

a = pd.DataFrame(data)
print(a)
all((a[d] == a[d].iloc[0]).all() for d in a.columns)

   A  B
0  0  1
1  0  1
True
   A  B
0  0  0
1  1  1

False

In [ ]:
# Base Case 3
a = pd.DataFrame({})
a.empty

True